.dark {
    --bgBody:#202020;
    --textWhite:#fff;
    --textYellow:#ffd100;
    --text-light-Yellow:#f6c606;
    --textGray:#ccc7c7;
    --light-gray:#6d6b6f;
}
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--bgBody) !important;
    color: var(--textWhite) !important;
    font-family: 'Montserrat', sans-serif !important;
}
/* links & buttons */
a {
    text-decoration: none !important;
}
button {
    border: none !important;
}
a,button,input,textarea:focus-visible {
    outline: none;
}
.form-control:focus{
    border-color: none !important;
    box-shadow: none !important;
}
.btn:focus {
    box-shadow: none !important;
}
ul , li {
    list-style: none;
    padding: 0 !important;
}
.pointer {
    cursor: pointer;
}

/* font-size */

.fs-12 {
    font-size: 12px !important;
}
.fs-14 {
    font-size: 14px !important;
}
.fs-16 {
    font-size: 16px !important;
}
.fs-18 {
    font-size: 18px !important;
}
.fs-20 {
    font-size: 20px !important;
}
.fs-22 {
    font-size: 22px !important;
}
.fs-24 {
    font-size: 24px !important;
}
.fs-26 {
    font-size: 26px !important;
}
.fs-28 {
    font-size: 28px !important;
}
.fs-30 {
    font-size: 30px !important;
}
.fs-32 {
    font-size: 32px !important;
}
.fs-34 {
    font-size: 34px !important;
}
.fs-85 {
    font-size: 85px !important;
}
/* font-weight */

.fw-100 {
    font-weight: 100 !important;
}
.fw-200 {
    font-weight: 200 !important;
}
.fw-300 {
    font-weight: 300 !important;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-600 {
    font-weight: 600 !important;
}
.fw-700 {
    font-weight: 700 !important;
}
.fw-800 {
    font-weight: 800 !important;
}
.fw-900 {
    font-weight: 900 !important;
}

/* heading */

.h-primary {
    font-size: 85px;
    font-weight: 800;
    color:#fff;
}
.h-secondary {
    font-size: 30px;
    font-weight: 600;
    color:#fff;
}
/* text-color */

.white-text {
    color:var(--textWhite) !important;
}
.yellow-text {
    color: var(--textYellow) !important;
}.gray-text {
    color: var(--textGray) !important;
}
/* button */
.primary-btn {
    min-width: 150px;
    padding: 14px 0px;
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    align-items: center;    
    background-color: var(--textYellow);
    color: #fff;
    border-radius: 24px;
    transition: all 0.5s ease-in-out;
}
.primary-btn:hover {
    background-color: var(--bgBody);
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}
/* nav-bar */
.navbar .nav-link {
    padding: 0px !important;
    color: var(--textWhite) !important;
    font-weight: 600;
}
.navbar .nav-link.active {
    color: var(--textYellow) !important;
}
.navbar-brand {
    color: var(--textYellow) !important;
}

/* mains */
.mains {
    background-image: url('../public/assets/images/main-images.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
}
.mains::before {
    content: '';
    background-color: rgba(43, 42, 47, .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* about */
.about-me {
    height: auto;
    padding: 60px 0px;
}
.about-images {
    height: auto;
    padding: 7px;
    background: linear-gradient(-50deg, rgba(170, 170, 170, .1) 45%, transparent 25%);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.about-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .7;
    transition: all 0.5s ease-in-out;
}
.about-images img:hover {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.about-titles {
    position: relative;
    display: inline-block;
}
.about-titles h2::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--light-gray);
}
.about-titles .about-spans {
    position: absolute;
    bottom: -9px;
    left: 67%;
    line-height: 1;
    background: var(--bgBody);
    padding: 0 4px;
    font-size: 20px;
    color: #16c0f0;
    font-weight: 600;
    letter-spacing: .3px;
}
.about-h3 {
    margin-top: 40px;
    position: relative;
    font-size: 22px;
    font-weight: 600;
}
.about-h3::before {
    content: '';
    position: absolute;
    bottom:-10px;
    left: 0px;
    height: 2px;
    width: 91px;
    background: linear-gradient(135deg, var(--textYellow) 0%, var(--text-light-Yellow) 100%);
}
.personal-info {
    position: relative;
    background-color: #292929;
    padding: 25px 30px;
    margin-bottom: 25px;
    margin-right: 13px;
}
.contact-circle {
    color: #000000 !important;
    background: linear-gradient(135deg, var(--textYellow) 0%, var(--text-light-Yellow) 100%);
    width: 30px;
    height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    position: relative;
}
.contact-circle::before {
    content: '';
    content: '';
    background: linear-gradient(135deg, var(--textYellow) 0%, var(--text-light-Yellow) 100%);
    width: 2px;
    height: 18px;
    position: absolute;
    top: 29px;
    left: 13px;
}
.contact-circle-1::before {
    display: none;
}
.media-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
    height: 80%;
    width: 35px;
    background: linear-gradient(135deg, var(--textYellow) 0%, var(--text-light-Yellow) 100%);
    text-align: center;
}
.media-links::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 23px;
    border-right: 12px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 9px solid var(--textYellow);
}
.media-links::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 23px;
    border-right: 12px solid transparent;
    border-bottom: 6px solid transparent;
    border-top: 9px solid var(--textYellow);
}
.fb-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: var(--bgBody);
    background-color: var(--textYellow);
}
.personal-btn {
    position: relative;
    display: inline-block;
    min-width: 145px;
    background: var(--textYellow);
    color: #fff;
    padding: 14px 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border: none;
    border: none;
    border-radius: 24px;
    transform: scale(1,1);
    transition: all 0.5s ease-in-out;
}
.personal-btn:hover{
    background-color: var(--bgBody);
    border: 1px solid var(--textWhite) !important;
    transform: scale(0.8,0.7);
    transition: all 0.5s ease-in-out;
}